@charset "UTF-8";

@media screen and (max-width: 700px)
{

    header.container
    {

        display: flex;
        flex-direction: column; 
        width: 50%;      

    }

    header nav a
{

    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
    margin-left: 25px;    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}

    .botao
    {

        margin-top: 5px;
        width: 300px;        

    }

}

@media screen and (min-width: 1000px)
{

    .descricao
    {

        width: 50%;

    }

}